.logo {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--font-comfortaa);
    line-height: 1;
}

.logo .title {
    display: inline-block;
}

.logo .title div:first-child {
    font-size: .9rem;
}

.logo .title div:last-child {
    font-size: 1.7rem;
}

.logo .number {
    font-size: 3rem;
}